@use "./../../scss/variables.scss" as *;
.teamCard {
  position: relative;
  width: 200px;
  height: 200px;
  background: $second-block-color;
  border-radius: 30px;
  text-align: center;
  padding: 15px;

  &__avatar {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  &__name {
    margin-top: 50px;
    font-size: $default-font;
    font-weight: 600;
  }
  &__post {
    position: absolute;
    bottom: 15px;
    font-size: $small-font;
    font-weight: 600;
    color: $accent-color;
    left: 50%;
    transform: translateX(-50%);
  }
}
