$font-color: #000000;
$second-font-color: #ffffff;
$accent-color: #7a6bf4;
$second-block-color: #f9f8fd;
$megabig-font: 76px;
$big-font: 48px;
$medium-font: 32px;
$default-font: 18px;
$small-font: 16px;
